fastapi==0.89.1
uvicorn==0.20.0
pydantic
typing==3.7.4.3
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
sqlalchemy-utils==0.41.1
python-dotenv==0.21.1
asyncpg==0.29.0
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
docarray==0.32.1
docx2txt==0.8
langchain==0.0.335
langchain[docarray]==0.0.335
openai==0.28.1
tiktoken==0.5.1
unstructured==0.10.30
unstructured[pdf]==0.10.30
unstructured[docx]==0.10.30
unstructured[pptx]==0.10.30
unstructured[xlsx]==0.10.30
gunicorn==21.2.0
alembic==1.12.1
requests==2.31.0
PyJWT==2.8.0
uvicorn[standard]
websockets
pgvector