pydantic
typing
fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
sqlalchemy-utils
python-dotenv
asyncpg
python-jose
passlib
bcrypt
langchain
langchain[docarray]
openai
unstructured
tiktoken
unstructured[pdf]
docx2txt
unstructured[docx]
unstructured[pptx]
unstructured[xlsx]
gunicorn
alembic
requests
opencv-python
opencv-python-headless
langchain[docarray]